/* ẩm các chúc năng trong mobile va tablet */
.header-bottom-mobile{
    display: none;
}
.img-container-mobile{
    display: none;
}
.autoplay2{
    display: none !important;
}
.img-container1-mobile{
    display: none;
}
.ti-menu{
    display: none;
}
.ti-close{
    display: none;
}
.bread-box{
    background: none;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    background:#2a3740;
    
}
.container::before{
    display: table;
    content: " ";
}
.container::after{
    display: table;
    content: " ";
}
.header-top .fixed {
    width: 100%;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
.taskbar-top{
    padding: 15px 0;
    background: #000;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: black;
}
.taskbar-top.fixed{  
    width: 100%;
    padding: 0px ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
.taskbar-top img{
    margin-top: 8px;
    margin-left: 10px;
}
.taskbar-top .search{
    margin-left: 230px;
    margin-top: -50px;
   
}
.header-top-left{
    width: 20%;
}
.header-top-right{
    width: 80%;
}
.fleft{
    float: left;
}
.top-right-search {
    left: 500px;
    margin: 8px 6px 0 0;
    position: absolute;
    transition: .5s;
}
.search-icon{
    width: 34px;
    height: 34px;
    float: left;
    margin: 10px 6px 0 0;
    background: 0;
    color: #fff;
    border: 0;
    border-radius: 5px;
    outline: 0;
    font-size: 20px;
    transition: .5s;
}
.search-icon:hover{
    background-color: #e4e8ee;
    color: red;
}
.txt-search {
    width: 240px;
    height: 34px;
    float: left;
    padding: 5px 5px 0 0;
    background: 0;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    outline: 0;
    font-size: 15px;
    font-style: italic;
    color: white;
}
.top-right-map{
    right: 350px;
    position: absolute;
    margin: 20px 40px 0 70px;
}
.top-right-map:hover a{
    transition: .5s;
    color: red;
}
.top-right-map a{
    display: block;
    padding-left: 28px;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.top-right-phone {
    right: 178px;
    margin: 12px 0 0 30px;
    padding-left: 45px;
    position: absolute;
}
.top-right-phone .top-right-phone-2:hover{
    -webkit-transition: .5s;
    transition: .5s;
    color: red;
} 
.ti-headphone-alt{
    width: 33px;
    height: 20px;
    font-size: 20px;
    margin:10px;
    position: absolute;
    top: 0;
    left: 0;
    fill: #fff;
}
.top-right-phone-hotline{
    display: block;
    color: #fb414b;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
}
.top-right-phone a{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
}
.top-right-shopping{
    right: 40px;
    margin: 27px 0 0 50px;
    position: absolute;
}
.top-right-shopping a i:hover{
    color: red;
    transition: .5s;
}
.shopping-mini{
    width: 50px;
    display: block;
    padding-left: 28px;
    position: relative;
}
.shopping-mini i{
    width: 20px;
    height: 20px;
    position: absolute;
    font-size: 20px;
    top: -2px;
    left: 0;
    color: white;
}
.shopping-mini span{
    width: 16px;
    height: 16px;
    display: block;
    background: #d92b34;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.top-right-login{
    margin: 20px 0 0 50px;
    position: relative;
}
.top-right-login a i:hover{
    color: red;
    transition: .5s;
}
.top-right-login i{
    margin-top: 4px;
    right: 0px;
    position: absolute;
    font-size: 20px;
    color: white;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-bottom{
    height: 40px;
    background-color: #525563;
}
.header-bottom{
    margin-top: 62px;
    display: flex;
}
.main-menu>ul {
    display: block;
    margin: 0;
    list-style: none;
}
.main-menu>ul>li {
    position: relative;
    float: left;
    border-right: 1px solid #0e1016;
}
.main-menu>ul>li>a {
    display: block;
    padding: 11px 30px 11px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-menu>ul>li:last-child {
    border-right: 0;
}      
.main-menu>ul>li>a:hover{
    color: yellow;
    transition: .25s;
    background-color: #292c38;
}
/* menu con */
.sub-menu{
    position: absolute;
    opacity: .90;
    font-size: 16px;
    display: none;    
    padding: 0;
    background-color: rgba(0,0,0,.8);
    text-align: left;
}
.sub-menu .menu-item-2 {
    line-height: 37px;
    display: block;
    list-style: none;
}
.sub-menu .menu-item-2 a{
    display: block;
    padding: 0 15px;
    color: white;
}
.sub-menu .menu-item-2:hover a{
    display: block;
    color: yellow;
}
.main-menu>ul>li:hover>ul{
    position: relative;
    z-index: 2;
    background-color: black;
    display: block;
} 
.img-container{
    height: 36px;
    padding: 20px;
    max-width: 1232px;
    margin: 0px auto;
}

.img-container1>img{
    margin-bottom: 60px;
    max-width: 1220px;
}
.container1{
    padding-bottom: 20px;
    max-width: 1232px;
    margin: 0 auto;
}
.break{
    list-style: none;
    border-radius: 4px;
}
.break li{
    font-size: 13px;
    color: white;
    display: inline-block;
}
.break li span{
    color: white;
}
section{
    display: block;
}
.product-left{
    padding: 0px;
    width: 41%;
    float: left;
}
.container2{
    height: 500px;
    max-width: 1232px;
    margin: 0 auto;
}
.product-slider{
    border:1px solid #515e67
}
.img-main{
width: 100%;
height: 500px;
position: relative;
}
.product-right{
    height: 500px;
    width: 700px;
    float: right;
    padding-left: 10px;
}
.product-conten-title{
    color: white;
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: bold;
}
.product-conten-info-left{
    color: white;
    float: left;
}
.product-conten-info-right{
    float: right;
    margin-right: 70px;
}
.product-conten-info{
    height: 30px;
    padding-bottom:10px ;
    border-bottom: 1px solid #515e67;
}
.main {
    font-family:Arial;
    width:500px;
    display:block;
    margin:0 auto;
  }
  h3 {
      background: #fff;
      color: #3498db;
      font-size: 36px;
      line-height: 100px;
      margin: 10px;
      padding: 2%;
      position: relative;
      text-align: center;
  }
  .action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
  }
  .action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
  }
  .action a:hover{
    background:#000;
  }
  .nav-slider {
    font-size: 36px;
    width: 476px;
    height: 480px;
    margin: 10px;
    position: relative;
    text-align: center;
}
.nav-slider1{
    font-size: 36px;
    height: 80px;
    width: 80px;
    margin: 10px;
    position: relative;
    text-align: center;
}
.slider-nav{
    background: white;
}
.product-right{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.thong-so-box{
    border-bottom: 1px solid #515e67;
    padding: 15px 0;
    font-size: 14px;
}
.thong-so-box p{
    font-size: 18px;
    color: white;
    padding-bottom: 5px;
}
.thong-so-box p span {
    color: white;
    width: 200px;
    display: inline-block;
}
.thong-so-box p .gia{
    color: yellow;
    font-size: 22px;
    font-weight: bold;
    line-height: 1px;
}
.button-btn .btn-installment{
    margin-right: 5px;
}
.button-btn{
    font-weight: 800;
    height: 100px;
    padding: 20px 0;
    border-bottom: 1px solid #515e67;
    font-size: 14px;
}
.button{
    color: black;
    background: #ffea00;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.button-btn .btn-buy{
    margin-right: 5px;
}
.button-btn a{
    width: 345px;
    height: 45px;
    float: left;
    border-radius: 4px;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
}
.button-btn>a>span{
    font-weight: bold;
    font-size: large;
}
.button-btn .btn-hotline{
    width: 100%;
    margin-top: 10px;
}
.button-btn a:hover{
    background-color: rgb(236, 77, 14);
    font-weight: bold;
    color: #e4e8ee;
}
.chinh-sach-ban-hang{
    margin-top: 10px;
}
.chinh-sach-ban-hang img{
    height: 95px;
    margin-left: 50px;
}
.product-single-box {
    height: 900px;
    border: 2px solid #3f4952;
    max-width: 1232px;
    position: absolute;
    margin-top:640px;
}
.priduct-tab .tab-header{
    background: #3f4952;
}
.tab-header{
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.tab-header ul{
    list-style: none;
}
.tab-header li{
    float: left;
}
.iframe-box{
    margin-top: 30px;
    margin-left: 300px;
}
.product-tab .tab-header li a{
    font-weight: bold;
    display: block;
    padding: 12px 30px;
    background: #ffea00;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
}
.class-header-box{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    
}
.product-title{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.col-md-6-left{
    float: left;
    width: 50%;
}
.col-md-6-right{
    float:right;
    width: 50%;
}
table{
    margin: 10px auto;
}
tbody{
    margin-top: 20px;
}
tbody>tr>.table1{
    font-weight: bold;
    width: 400px;
}
tbody>tr>td{
    padding-top: 10px;
}
p{
    font-weight: 500;
    font-size: 15px;
    padding-top: 10px;
}
#intro-owl-2{
    max-width: 1243px;
    margin: 0 auto 40px;
}
.your-class a img{
    height: 110px;
    margin-left: 15px;
} 
 .box-title1{
  max-width: 925px;
  margin-top: 20px;
    margin: 0 auto 40px;
    color: #ffea00;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.box-title1 span {
    padding: 0 15px;
    background: #2a3740;
    position: relative;
    z-index: 2;
}
.box-title1::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}
#thuong-hieu {
    max-width: 1242px;
    margin: 0 auto;
}

#thuong-hieu .slider-thuong-hieu-item {
    margin-left: 69px;
    margin-bottom: 50px;
}

#thuong-hieu a {
    margin-left: 2px;

}

#thuong-hieu a img {
    width: 13%;
}
/* FOOTER */
#footer {
    margin-top: 1000px;
}
.footer-top-list {
    max-width: 1243px;
    margin: 0 auto;
    padding: 80px 0 15px;
   
    overflow: hidden;
}

.footer-top-list .row {
    margin: 0 -0px;
}
.the-end-1{
    padding-top: 30px;
    background-color: #000;
    height: 230px;
    position: relative;
    width: 100%;

}
.box-the-end{
    max-width: 1232px;
    margin: 0 auto;
}
.col-md-4 {
    float: left;
    text-align: center;
    color: #ffea00;
    font-size: 16px;
    width: 30%;
    font-family: 'Roboto Flex', sans-serif;
    
}
.title-pr{
    margin-bottom: 20px;
}
#menu-mobile{
    display: none;
}
.container-footer {
    padding: 0px 82px;
    margin: 0px;
}
.footer-title-1{
    margin-bottom: 5px;
    margin-left: 0;
    text-align: center;
}
.footer-menu ul {
    list-style: none;
}
.footer-menu li{
    margin-left: 0px;
    text-align: center;
}
.footer-menu li a {
    color: rgb(185, 180, 180);
}
.footer-menu li:hover a {
    color: #ffea00;
}
.col-md-5 {
    color: #ffea00;
    font-size: 16px;
    float: right;
    width: 30%;
    font-family: 'Roboto Flex', sans-serif;
}
.col-md-6{
    color: #ffea00;
    margin-left: 30px;
    float: right;
    width: 30%;
    font-family: 'Roboto Flex', sans-serif;
}

.footer-title-2{
    margin-left: 100px;
    margin-bottom: 5px;
}
.col-md-6 ul li {
    margin-bottom: 5px;
    list-style: none;
    font-size: 20px;
    margin-left: 160px;
}

.col-md-6 ul li a {
    color: rgb(185, 180, 180);
    font-size: 16px;
}

.col-md-6 ul li a .ti-facebook {
    color: rgb(34, 34, 200);
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
}

.col-md-6 ul li a .ti-twitter-alt {
    color: rgb(1, 193, 247);
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
}

.col-md-6 ul li a .ti-youtube {
    color: red;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
}

