@media only screen and (max-width: 780px) {

    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    .container::before {
        display: table;
        content: " ";
    }

    .container::after {
        display: table;
        content: " ";
    }

    .header-top .fixed {
        width: 100%;
        padding: 5px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
    }

    .taskbar-top {
        padding: 15px 0;
        background: #000;
        color: #fff;
        transition: .5s;
        background-color: black;
    }

    .taskbar-top.fixed {
        width: 100%;
        padding: 0px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
    }

    .taskbar-top img {
        width: 80%;
        height: 20px;
        margin-top: 8px;
        margin-left: 10px;
    }

    .taskbar-top .search {}

    .header-top-left {
        width: 20%;
    }

    .header-top-right {
        width: 80%;
    }

    .fleft {
        float: left;
    }

    .top-right-search {
        left: 170px;
        margin: 10px 6px 0 0;
        position: absolute;
        transition: .5s;
    }

    .search-icon {
        width: 20px;
        height: 15px;
        float: left;
        margin: 0px 9px 0 0;
        background: 0;
        color: #fff;
        border: 0;
        border-radius: 5px;
        outline: 0;
        font-size: 13px;
        transition: .5s;
    }

    .search-icon:hover {
        background-color: #e4e8ee;
        color: red;
    }

    .txt-search {
        width: 120px;
        height: 13px;
        float: left;
        padding: 1px 1px 0 0;
        background: 0;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        outline: 0;
        font-size: 13.5px;
        font-style: italic;
        color: white;
    }

    .top-right-map {
        right: 236px;
        position: absolute;
        margin: 9px 7px 0 7px;
    }

    .top-right-map:hover a {
        transition: .5s;
        color: red;
    }

    .top-right-map a {
        display: block;
        padding-left: 3px;
        color: #fff;
        font-size: 12px;
        position: relative;
    }

    .top-right-phone {
        right: 120px;
        margin-top: 5px;
        margin-left: 10px;
        padding-left: 25px;
        position: absolute;
    }

    .top-right-phone .top-right-phone-2:hover {
        -webkit-transition: .5s;
        transition: .5s;
        color: red;
    }

    .ti-headphone-alt {
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin: 2px;
        position: absolute;
        fill: #fff;
    }

    .top-right-phone-hotline {
        display: block;
        color: #fb414b;
        font-size: 7px;
        line-height: 1.2;
        text-transform: uppercase;
    }

    .top-right-phone a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1px;
    }

    .top-right-shopping {
        right: 45px;
        margin: 9px 0 0 13px;
        position: absolute;
    }

    .top-right-shopping a i:hover {
        color: red;
        transition: .5s;
    }

    .shopping-mini {
        width: 22px;
        display: block;
        padding-left: 20px;
        position: relative;
    }

    .shopping-mini i {
        width: 20px;
        height: 20px;
        position: absolute;
        font-size: 16px;
        top: -2px;
        left: 0;
        color: white;
    }

    .shopping-mini span {
        width: 16px;
        height: 16px;
        display: block;
        background: #d92b34;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }

    .top-right-login {
        right: 1px;
        margin: 4px 0 0 50px;
        position: relative;
    }

    .top-right-login a i:hover {
        color: red;
        transition: .5s;
    }

    .top-right-login i {
        margin-top: 4px;
        right: 0px;
        position: absolute;
        font-size: 15px;
        color: white;
    }

    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .header-bottom {
        height: 25px;
        background-color: #525563;
    }

    .header-bottom {
        margin-top: 32px;
        display: flex;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-menu {
        max-width: 100%;
        height: 27px;
    }

    .main-menu>ul {
        display: block;
        margin: 0;
        list-style: none;
    }

    .main-menu>ul>li {
        position: relative;
        height: 25px;
        float: left;
        border-right: 1px solid #0e1016;
    }

    .main-menu>ul>li>a {

        display: block;
        padding: 8px 10px 8px 10px;
        color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .main-menu>ul>li:last-child {
        border-right: 0;
    }

    .main-menu>ul>li>a:hover {
        color: yellow;
        transition: .25s;
        background-color: #292c38;
    }

    /* menu con */
    .sub-menu {
        position: absolute;
        opacity: .80;
        font-size: 8px;
        display: none;
        padding: 0;
        background-color: rgba(0, 0, 0, .8);
        text-align: left;
    }

    .sub-menu .menu-item-2 {
        line-height: 37px;
        display: block;
        list-style: none;
    }

    .sub-menu .menu-item-2 a {
        display: block;
        padding: 0 15px;
        color: white;
        font-family: Helvetica, Arial, sans-serif;
    }

    .sub-menu .menu-item-2:hover a {
        display: block;
        color: yellow;
    }

    .main-menu>ul>li:hover>ul {
        position: relative;
        z-index: 2;
        background-color: black;
        display: block;
    }

    .your-class a img {
        height: 110px;
        margin-left: 15px;
    }

    .img-container {
        padding-top: 20px;
        width: 620px;
        height: 25px;
        line-height: 25px;
        margin: 0px auto;
    }

    .img-container1 {
        max-width: 620px;
        margin: 0 auto;
    }

    .img-container1>img {
        margin-bottom: -10px;
        width: 100%;
        height: 100%;
    }

    .img-container img {
        width: 100%;
        height: 100%;
    }

    .container1 {
        max-width: 620px;
        margin: 0 auto;
    }

    .break {
        list-style: none;
        border-radius: 4px;
    }

    .break li {
        font-size: 12px;
        color: white;
        display: inline-block;
    }

    .break li span {
        color: white;
    }

    section {
        display: block;
    }

    .product-left {
        padding: 0px;
        width: 100%;

    }

    .container2 {
        height: 500px;
        max-width: 620px;
        margin: 0 auto;
    }

    .product-slider {
        border: 1px solid #515e67;
        margin-bottom: 30px;
    }

    .img-main {
        width: 100%;
        height: 640px;
        position: relative;
    }

    .product-right {
        font-size: 13px;
        height: 500px;
        width: 620px;
        padding-left: 10px;
    }

    .product-conten-title {
        color: white;
        margin-bottom: 14px;
        font-size: 20px;
        font-weight: bold;
    }

    .product-conten-info-left {
        color: white;
        float: left;
    }

    .product-conten-info-right {
        float: right;
        margin-right: 70px;
    }

    .product-conten-info {
        height: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #515e67;
    }

    .main {
        font-family: Arial;
        width: 500px;
        display: block;
        margin: 0 auto;
    }

    h3 {
        background: #fff;
        color: #3498db;
        font-size: 36px;
        line-height: 100px;
        margin: 10px;
        padding: 2%;
        position: relative;
        text-align: center;
    }

    .action {
        display: block;
        margin: 100px auto;
        width: 100%;
        text-align: center;
    }

    .action a {
        display: inline-block;
        padding: 5px 10px;
        background: #f30;
        color: #fff;
        text-decoration: none;
    }

    .action a:hover {
        background: #000;
    }

    .nav-slider {
        font-size: 36px;
        width: 476px;
        height: 480px;
        margin: 10px;
        position: relative;
        text-align: center;
    }

    .nav-slider1 {
        font-size: 36px;
        height: 80px;
        width: 80px;
        margin: 10px;
        position: relative;
        text-align: center;
    }

    .slider-nav {
        background: white;
    }

    .product-right {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
    }

    .thong-so-box {
        border-bottom: 1px solid #515e67;
        padding: 15px 0;
        font-size: 12px;
    }

    .thong-so-box p {
        font-size: 18px;
        color: white;
        padding-bottom: 5px;
    }

    .thong-so-box p span {
        color: white;
        width: 200px;
        display: inline-block;
    }

    .thong-so-box p .gia {
        color: yellow;
        font-size: 22px;
        font-weight: bold;
        line-height: 1px;
    }

    .button-btn .btn-installment {
        margin-right: 5px;
    }

    .button-btn {
        font-weight: 800;
        height: 100px;
        padding: 20px 0;
        border-bottom: 1px solid #515e67;
        font-size: 14px;
    }

    .button {
        color: black;
        background: #ffea00;
        text-align: center;
        cursor: pointer;
        transition: .5s;
    }

    .button-btn .btn-buy {
        margin-right: 5px;
    }

    .button-btn a {
        width: 49%;
        height: 45px;
        float: left;
        border-radius: 4px;
        font-size: 14px;
        line-height: 45px;
        text-transform: uppercase;
    }

    .button-btn>a>span {
        font-weight: bold;
        font-size: large;
    }

    .button-btn .btn-hotline {
        width: 100%;
        margin-top: 10px;
    }

    .button-btn a:hover {
        background-color: rgb(236, 77, 14);
        font-weight: bold;
        color: #e4e8ee;
    }

    .chinh-sach-ban-hang {
        width: 620px;
    }

    .chinh-sach-ban-hang img {
        height: 95px;
        width: 100%;
        margin-top: 27px;
        margin-left: 0;
    }

    .product-single-box {
        height: 925px;
        border: 2px solid #3f4952;
        max-width: 602px;
        position: absolute;
        padding: 5px;
        margin-top: 1340px;
    }

    .priduct-tab .tab-header {
        background: #3f4952;
    }

    .tab-header {
        margin-bottom: 10px;
        width: 100%;
        float: left;
    }

    .tab-header ul {
        list-style: none;
    }

    .tab-header li {
        float: left;
    }

    .iframe-box {
        margin-top: 30px;
        margin-left: 40px;
    }

    .product-tab .tab-header li a {
        font-weight: bold;
        display: block;
        padding: 12px 30px;
        background: #ffea00;
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
    }

    .class-header-box {
        font-family: Helvetica, Arial, sans-serif;
        color: #fff;

    }

    .product-title {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .box-product-title .product-box-content p {
        font-size: 13px;
    }

    .col-md-6-left {
        float: left;
        width: 50%;
    }

    .col-md-6-right {

        float: right;
        width: 50%;
    }

    table {
        margin: 10px auto;
    }

    tbody {
        margin-top: 20px;
    }

    tbody>tr>.table1 {
        font-weight: bold;
        width: 150px;
    }

    tbody>tr>td {
        font-size: 13px;
        padding-top: 10px;
    }

    p {
        font-weight: 500;
        font-size: 15px;
        padding-top: 10px;
    }

    .box-title1 {
        margin-top: 1946px;
        max-width: 460px;
        margin: 0 auto 40px;
        color: #ffea00;
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
    }

    .box-title1 span {
        padding: 0 15px;
        background: #2a3740;
        position: relative;
        z-index: 2;
    }

    .box-title1::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #ccc;
        position: absolute;
        top: 50%;
        left: 0;
    }

    iframe {
        width: 520px;
        height: 285px;
    }

    #footer {
        margin-top: 1893px;
    }

    #thuong-hieu {
        max-width: 1242px;
        margin: 0 auto;
    }

    #thuong-hieu .slider-thuong-hieu-item {
        margin-left: 18px;
        margin-bottom: 50px;
    }

    #thuong-hieu a {
        margin-left: 2px;

    }

    #thuong-hieu a img {
        width: 13%;
    }

    /* FOOTER */
    #footer {
        margin-top: 1730px;
    }

    .footer-top-list {
        max-width: 620px;
        margin: 0 auto;
        padding: 80px 0 56px;

        overflow: hidden;
    }

    .footer-top-list .row {
        margin: 0 -0px;
    }

    .the-end-1 {
        padding-top: 30px;
        background-color: #000;
        height: 400px;
        position: relative;
        width: 100%;

    }

    .box-the-end {
        max-width: 620px;
        margin: 0 auto;
    }

    .col-md-4 {
        text-align: center;
        color: #ffea00;
        font-size: 16px;
        width: 100%;
        font-family: Helvetica, Arial, sans-serif;

    }

    .title-pr {
        margin-bottom: 20px;
    }

    #menu-mobile {
        display: none;
    }

    .container-footer {
        padding: 0px 82px;
        margin: 0px;
    }

    .footer-title-1 {
        margin-bottom: 5px;
        margin-left: 0;
        text-align: center;
    }

    .footer-menu ul {
        list-style: none;
    }

    .footer-menu li {
        margin-left: 0px;
        text-align: center;
    }

    .footer-menu li a {
        color: rgb(185, 180, 180);
    }

    .footer-menu li:hover a {
        color: #ffea00;
    }

    .col-md-5 {
        margin-top: 5px;
        color: #ffea00;
        font-size: 16px;
        float: left;
        width: 50%;
        font-family: Helvetica, Arial, sans-serif;
    }

    .col-md-6 {
        color: #ffea00;
        float: right;
        margin-top: 5px;
        margin-left: 0;
        width: 50%;
        font-family: Helvetica, Arial, sans-serif;
    }

    .footer-title-2 {
        margin-left: 100px;
        margin-bottom: 5px;
    }

    .col-md-6 ul li {
        margin-bottom: 5px;
        list-style: none;
        font-size: 20px;
        margin-left: 160px;
    }

    .col-md-6 ul li a {
        color: rgb(185, 180, 180);
        font-size: 16px;
    }

    .col-md-6 ul li a .ti-facebook {
        color: rgb(34, 34, 200);
        background-color: white;
        border-radius: 5px;
        font-size: 25px;
    }

    .col-md-6 ul li a .ti-twitter-alt {
        color: rgb(1, 193, 247);
        background-color: white;
        border-radius: 5px;
        font-size: 25px;
    }

    .col-md-6 ul li a .ti-youtube {
        color: red;
        background-color: white;
        border-radius: 5px;
        font-size: 25px;
    }
}

/* Mobile */
@media only screen and (max-width: 400px) {

    .taskbar-top.fixed {
        width: 390px;
        padding: 0px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
    }

    .autoplay1 {
        display: none !important;
    }

    .autoplay2 {
        display: block !important;
    }

    header {
        height: 60px;
        max-width: 100%;
    }

    .container {
        width: 390px;
    }

    .container::before {
        display: table;
        content: " ";
    }

    .container::after {
        display: table;
        content: " ";
    }

    .taskbar-top {
        width: 100%;
        padding: 5px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        padding: 15px 0;
        height: 60px;
        transition: .5s;
        background-color: black;
    }

    .taskbar-top img {
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: 0;
    }

    .header-top-left {
        width: 70%;
    }

    .header-top-left img {
        width: 270px;
        height: 40px;
        padding-top: 10px;
        padding-left: 10px;

    }

    .header-top-right {
        width: 20%;
    }

    .header-top-right #mobile-menu,
    #mobile-menu-1 {
        width: 40px;
        height: 42px;
        line-height: 50px;
        padding-top: 10px;
        padding-left: 67px;
        margin: 0;
    }

    .header-top-right #mobile-menu {
        display: block;
    }

    .header-top-right #mobile-menu-1 {
        display: none;
    }

    .header-top-right #mobile-menu span .ti-menu,
    .ti-close {
        font-size: 40px;
        float: right;
    }

    .header-top-right #mobile-menu .ti-menu {
        display: block;
    }

    .header-top-right #mobile-menu-1 .ti-close {
        display: block;
        font-size: 40px;
        font-weight: 700;
        float: right;
    }
    .slider-nav{
        display: none !important;
    }
    /* 
    Tạo menu mobile
    */
    #menu-mobile {
        font-family: Helvetica, Arial, sans-serif;
        padding-top: 11px;
        padding-bottom: 30px;
        opacity: .85;
        margin-top: 54px;
        display: none;
        background-color: #000;
    }

    #menu-mobile ul {
        display: block;
    }

    #menu-mobile ul .menu-mobile-1 {
        margin-left: 20px;
        display: block;
        padding: 7px;
    }

    #menu-mobile ul .menu-mobile-1 a {
        font-size: 12px;
        color: #fff;
        display: block;
    }

    #menu-mobile .search {
        margin: 0;
        height: 52px;
        opacity: initial;
    }

    #menu-mobile .search input {
        width: 380px;
        position: absolute;
        padding: 5px;
        font-size: 17px;
        background-color: #ffffff;

        border: 0;
        outline: 0;
        line-height: 30px;
    }

    #menu-mobile .search .ti-search {
        position: absolute;
        font-size: 30px;
        margin-left: 340px;
        margin-top: 6px;
        font-weight: bold;
        color: rgb(58, 58, 55);
    }

    #menu-mobile ul .menu-mobile-1 ul .menu-mobile-2 {
        margin-left: 30px;
        padding: 7px;
    }

    .top-right-search {
        display: none;
        left: 170px;
        margin: 10px 6px 0 0;
        position: absolute;
        transition: .5s;
    }

    .search-icon {
        display: none;
        width: 20px;
        height: 15px;
        float: left;
        margin: 0px 9px 0 0;
        background: 0;
        color: #fff;
        border: 0;
        border-radius: 5px;
        outline: 0;
        font-size: 13px;
        transition: .5s;
    }


    .txt-search {
        display: none;
        width: 120px;
        height: 13px;
        float: left;
        padding: 1px 1px 0 0;
        background: 0;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        outline: 0;
        font-size: 13.5px;
        font-style: italic;
        color: white;
    }

    .top-right-map {
        display: none;
        right: 236px;
        position: absolute;
        margin: 9px 7px 0 7px;
    }

    .top-right-phone {
        display: none;
        right: 120px;
        margin-top: 5px;
        margin-left: 10px;
        padding-left: 25px;
        position: absolute;
    }

    .ti-headphone-alt {
        display: none;
        width: 30px;
        height: 30px;
        font-size: 16px;
        margin: 2px;
        position: absolute;
        fill: #fff;
    }

    .top-right-phone-hotline {

        display: none;
        color: #fb414b;
        font-size: 7px;
        line-height: 1.2;
        text-transform: uppercase;
    }

    .top-right-shopping {
        display: none;
        right: 45px;
        margin: 9px 0 0 13px;
        position: absolute;
    }

    .shopping-mini {
        display: none;
        width: 22px;
        display: block;
        padding-left: 20px;
        position: relative;
    }

    .top-right-login {
        display: none;
        right: 1px;
        margin: 4px 0 0 50px;
        position: relative;
    }

    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .header-bottom {
        display: none;
        height: 25px;
        background-color: #525563;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }

    /* HEADR-BOTTOM */
    .header-bottom-mobile {
        display: block;
    }

    .header-bottom-mobile .can-le-mobile {
        padding: 0 10px;
    }

    .header-bottom-mobile .can-le-mobile .danh-muc-menu {
        padding: 10px 0;
        text-align: center;
    }

    .danh-muc-menu ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .danh-muc-menu ul li a {
        font-size: 12px;
        font-family: Helvetica, Arial, sans-serif;
        color: yellow;
        font-weight: 700;
    }

    #intro-owl {
        z-index: -1;
        width: 370px;
        margin: 0 10px;
    }

    #intro-owl>img {
        width: 100%;
        margin: 0 10px;
        height: 120px;
    }

    #intro-owl-1 {
        width: 350px;
        margin: 0px auto;
    }

    .autoplay2 a {}

    .slick-list a {
        padding-right: 3px;
        margin: 0px;
    }

    .slick-list .tax-product-title1 {
        height: 120px;
        width: 100%;
    }

    .slick-list .tax-product-title {
        font-size: 10px;
        font-family: Helvetica, Arial, sans-serif;
        margin-left: 50px;
    }

    .bread-box {
        display: block;
        line-height: 30px;
        background: #3f4952;
    }

    .break {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .break li {
        display: inline;
    }

    .img-container {
        display: none;
        padding-top: 20px;
        width: 390px;
        height: 25px;
        line-height: 25px;
        margin: 0px auto;
    }

    .img-container img {
        height: 100%;
        width: 100%;
    }

    .img-container1 {
        display: none;
        padding-top: 20px;
        width: 390px;
        height: 60px;
        margin: 0px auto;
    }

    .img-container1 img {
        height: 100%;
        width: 100%;
    }

    .img-container-mobile {
        display: block;
        padding-top: 8px;
        width: 390px;
        height: 25px;
        line-height: 25px;
        margin: 0px auto;
    }

    .img-container-mobile img {
        height: 100%;
        margin: 0 10px;
        width: 370px;
    }

    /* section */

    .main{
        width: 370px;
    }
    #main-conten {
        
       
    }
    .container2{
        max-width: 370px;
    }
    .nav-slider {
        font-size: 36px;
        width: 350px;
        height: 419px;
        margin: 9px;
        position: relative;
        text-align: center;
    }
    .img-main{
        height: 441px;
    }
    .nav-slider1 {
        display: none !important;
        font-size: 36px;
        height: 80px;
        width: 80px;
        margin: 10px;
        position: relative;
        text-align: center;
    }
    .slick-dots{
        display: none !important;
    }
    .slick-prev,.slick-next{
        display: none !important;
    }
    .product-left{

    }
    .product-right{
        padding: 0;
        float: none;
        width: 370px;
    }
    .product-conten-title{
        font-size: 14px;
    }
    .thong-so-box{
        width: 370px;
        margin: 0 auto;
    }
    .thong-so-box p{
        font-size: 12px;
    }
    .thong-so-box p span{
        width: 157px;
    }
    .thong-so-box p .gia{
        font-size: 14px;
    }
    .product-conten-info{
        padding-bottom: 38px;
    }
    .product-conten-info-left{
        padding-bottom: 8px;
    }
    .product-conten-info-right{
        float: none;
    }

    .chinh-sach-ban-hang{
        width: 370px;
        margin: 0 auto;
    }
    .button-btn{
        height: 152px;
    }
    .button-btn a{
        font-weight: 100;
        margin-bottom: 8px;
        width: 100%;
    }
    .button-btn .btn-hotline{
        margin-top: 0px;
    }
    .product-single-box{
        margin-top: 651px;
        max-width: 355px;
        height: 1155px;
    }
    .row .col-md-6-left{
        width: 100%;
        float: none;
    }
    .row .col-md-6-left table{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row .col-md-6-left table tr td{
        padding: 8px 0;
        border: 0;
        border-bottom: 1px solid #3f4952;
        text-align: right;
    }
    .row .col-md-6-left table tr .table1{
        text-align: left;
    }
    .row .col-md-6-right{
        width: 100%;
        float: none;
    }
    .iframe-box{
        width: 350px;
        height: 200px;
        margin-top: 35px;
        margin-left: 3px;
    }
    .home-box {
        margin-bottom: 5px;
    }

    .box-title {
        max-width: 370px;
        margin: 0 auto 20px;
        color: #ffea00;
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }

    .box-title span {
        padding: 0 15px;
        background: #2a3740;
        position: relative;
        z-index: 2;
    }

    .box-title::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #ccc;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
    }

    .tax-product-title {
        color: #fff;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        bottom: 20px;
        font-weight: bold;
        margin-left: 130px;
        z-index: 10;
    }

    .tax-product-title:hover {
        filter: opacity(80%);
    }

    .tax-product-title1:hover {
        filter: opacity(80%);
    }

    .container-section::before {
        display: table;
        content: " ";
    }

    #wrapper {
        max-width: 390px;
        margin: 0 auto;
    }

    ul.products li .producttop .product-price .product-price-1 {
        max-width: 100%;
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        margin-right: 5px;
        color: #e11111;
    }

    ul.products li .producttop .product-price .product-price-2 {
        text-align: center;
        text-decoration: line-through;
        margin-right: 5px;
        color: #4a4d53;
        font-size: 13px;
    }

    ul.products {
        margin-left: 5px;
        margin-right: 5px;
        list-style: none;
        display: flex;
        /* display: flex;  xuất hiện cùng 1 hàng */
        flex-wrap: wrap;
        /* flex-wrap: wrap; dùng xuống hàng */
        justify-content: space-between;
        /* đề giàn khung ở hàng ngang */
    }

    ul.products .class-item {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        border-width: 0 33px 10px;
        border-style: solid;
        border-color: transparent rgba(255, 216, 64, 0.9);
    }

    ul.products li {
        flex-basis: 50%;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

    ul.products li img {
        max-width: 100%;
        height: auto;
    }

    ul.products li .producttop {
        position: relative;
        overflow: hidden;
    }

    ul.products li .producttop .product-thumb {
        display: block;
    }

    ul.products li:hover .producttop .product-thumb img {
        filter: opacity(80%);
        /*filter: opacity(80%); độ trong khi trượt lên theo ảnh mờ đi */
    }

    ul.products li .producttop .product-thumb img {
        display: block;
    }

    ul.products li .producttop a.buy-now {
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        background-color: #446084;
        color: #fff;
        padding: 7px 0px;
        bottom: -39px;
        font-size: 13px;
        position: absolute;
        width: 100%;
        transition: 0.25s ease-in-out;
        /* transition: 0.25s ease-in-out; hiệu ứng chuyển mua ngay */
        opacity: 0.85;
        /* opacity: 0.85; làm trong mua ngay*/
    }

    ul.products li:hover a.buy-now {
        bottom: 0px;
    }

    ul.products li .produc-info {
        padding: 10px 0px;

    }

    ul.products li .produc-info a {
        display: block;
        text-decoration: none;
    }

    ul.products li .produc-info a.product-cat {
        font-size: 11px;
        text-transform: uppercase;
        /* text-transform: uppercase; in hoa */
        color: #9e9e9e;
        padding: 3px 0px;
        font-size: 10px;
    }



    ul.products li .produc-info .product-price p {
        text-decoration: line-through;
        margin-right: 5px;
        font-size: 11px;
        float: left;
        color: #c1c3c8;

    }

    .load-more {
        width: 200px;
        height: 20px;
        display: block;
        margin: 0 auto 25px;
        color: #000;
        border: 0;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .button {
        background: #ffea00;
        color: #000 !important;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .icon-instal {
        padding: 2px 5px;
        background: #f50;
        color: #fff;
        border-radius: 2px;
        font-size: 9px;
        font-weight: 600;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #thuong-hieu {
        max-width: 390px;
        margin: 0 auto;
    }

    #thuong-hieu .slider-thuong-hieu-item {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    #thuong-hieu a {
        margin-left: 2px;

    }

    #thuong-hieu a img {
        width: 12%;
    }

    .img-container1-mobile {
        display: block;
        width: 370px;
        height: 292px;
        margin: 0px auto;
    }

    .img-container1-mobile img {
        height: 282px;
        margin: 0 0px;
        width: 370px;
    }

    .box-title1 {
        max-width: 370px;
        margin: 0 auto 30px;
        color: #ffea00;
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }

    .box-title1 span {
        padding: 0 15px;
        background: #2a3740;
        position: relative;
        z-index: 2;
    }

    .box-title1::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #ccc;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
    }

    /* FOOTER */
    #footer{
        margin-top: 1794px;
    }
    .footer-top-list {
        max-width: 780px;
        margin: 0 auto;
        padding: 40px 0 30px;
        overflow: hidden;
    }

    .footer-top-list .row {
        margin: 0 -0px;
    }

    .col-md-4 {

        text-align: center;
        margin-bottom: 50px;
        color: #ffea00;
        font-size: 16px;
        width: 100%;
        font-family: Helvetica, Arial, sans-serif;

    }

    .container-footer {
        padding: 0px 11px;
        margin: 0px;
    }

    .footer-title-1 {
        margin-left: 0;
        text-align: center;
    }

    .footer-menu ul {
        list-style: none;
    }
    
    .footer-menu li {
        margin-left: 0px;
        text-align: center;
    }

    .footer-menu li a {
        color: #fff;
    }

    .footer-menu li:hover a {
        color: #ffea00;
    }

    .col-md-6 {
        margin: 0;
        padding-top: 50px;
        width: 100%;
        font-family: Helvetica, Arial, sans-serif;
    }

    .col-md-5 {
        color: #ffea00;
        font-size: 16px;
        width: 100%;
        font-family: Helvetica, Arial, sans-serif;
    }

    .col-md-5 ul li a{
        color: rgb(185, 180, 180);
    }

    .footer-title-2 {
        margin-left: 0px;
        margin-bottom: 10px;
        text-align: center;
    }

    .col-md-6 ul li {
        color: rgb(185, 180, 180);
        margin-bottom: 5px;
        list-style: none;
        font-size: 20px;
        margin-left: 149px;
    }

    .col-md-6 ul li a {
        color: rgb(185, 180, 180);
    }

    .col-md-6 ul li a .ti-facebook {
        color: rgb(34, 34, 200);
        background-color: white;
        border-radius: 5px;
    }

    .col-md-6 ul li a .ti-twitter-alt {
        color: rgb(1, 193, 247);
        background-color: white;
        border-radius: 5px;
    }

    .col-md-6 ul li a .ti-youtube {
        color: red;
        background-color: white;
        border-radius: 5px;
    }
    .the-end-1{
        height: 549px;
    }
}